* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  color: #fff;
  background-color: black;
}

.container::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: showRight 1s ease forwards;
  animation-delay: 0.1s;
}

nav {
  margin: 0 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

nav ul li {
  display: inline-block;
  list-style: none;
  justify-content: flex-end;
  gap: 6rem;
  padding: 3rem;
  font-weight: 600;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #00abf0;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #00abf0;
  text-decoration: none;
}

.blue {
  color: #00abf0;
}

.wrapper-left {
  padding: 10rem;
  width: 80%;
  font-size: 1.5rem;
  flex-basis: 25%;
}

.wrapper-left img {
  position: absolute;
  margin: -30vw 101vh;
}

.wrapper-left:hover {
  cursor: default;
}

.wrapper-left img {
  width: 35vw;
}

a.hireBtn {
  background-color: #00abf0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 2.5rem;
  width: 15rem;
  border: 2px solid #00abf0;
  border-radius: 1.5rem;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.hireBtn:hover {
  background-color: #00b7ff;
  box-shadow: 1px 1px 17px 3px #00abf0;
  transition: 0.2s;
}

.fa-brands {
  font-size: 2rem;
  margin: 0.3em;
}

/* KEYFRAME ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}


/* ----- about ----- */

#about {
  padding: 5rem 6rem;
}

.about-col-2 h1 {
  color: #00abf0;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 25%;
  margin: 7rem 0;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  margin-left: 2rem;
}

.about-col-2 {
  flex-basis: 60%;
}

.subtitle {
  padding: 10px 0;
  font-size: 20px;
  text-align: justify;
  font-weight: 200;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px 0;
}

.tab-links {
  font-size: 20px;
  margin-right: 60px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #00abf0;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #00abf0;
  font-size: 19px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-contents ul li span.educationContent {
  font-size: 20px;
  display: grid;
}

/* ----- project ----- */

#project {
  padding: 5rem 6rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-col-1 {
  margin: 20px auto;
}

/* ----- contact ----- */

.contact-col-1 {
  display: flex;
  justify-content: center;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  display: block;
  width: 52%;
  padding: 0.5rem;
  background-color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin: 0.3rem auto;
}

input.btn {
  display: block;
  margin: 0 auto;
  background-color: #00abf0;
  align-items: center;
  justify-content: center;
  color: black;
  height: 2.5rem;
  width: 12rem;
  border: 2px solid #00abf0;
  border-radius: 1.5rem;
  font-size: 1.1em;
  letter-spacing: 1px;
}

input.btn:hover {
  background-color: #00b7ff;
  box-shadow: 1px 1px 17px 3px #00abf0;
  transition: 0.2s;
}
