* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  background: black;
  color: #fff;
}

.wallpaper {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 25%;
}

#header {
  width: 100%;
  height: 100vh;
}

.background-image {
  display: flex;
  float: right;
  height: 1050px;
  width: 700px;
}

.container {
  padding: 10px 10%;
  display: flex;
  justify-content: center;
}

.tycoon {
  color: blue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 23px;
}

a:hover {
  color: blue;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 30px 38px;
  white-space: nowrap;
}

.header-text {
  text-align: center;
  font-size: 25px;
  margin-top: 30vh;
}

.wrapper {
  display: grid;
  place-items: center;
}

.typing-demo {
  font-size: 19px;
  width: 28.5ch;
  animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.card {
  display: flex;
  color: black;
  margin: 0 20px;
}

.card-text {
  text-align: justify;
}

.row {
  width: 60%;
  margin: 0 auto;
}

.topimage {
  height: 165px;
}

.botimage {
  height: 165px;
}

.aboutme {
  font-size: 17px;
  width: 50%;
  margin: 10px auto;
  line-height: 40px;
  text-align: justify;
}

.text {
  width: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto;
  line-height: 30px;
  text-align: justify;
  text-align: center;
  text-decoration: underline;
}

.subtext {
  font-size: 19px;
}

.contactdetail {
  font-size: 20px;
  text-align: center;
  margin-top: 200px;
}

.swinburnelogo {
  width: 350px;
  position: relative;
  display: flex;
  margin: 50px auto;
  justify-content: center;
}

.eastwestlogo {
  width: 350px;
  position: relative;
  display: flex;
  margin: -50px auto;
  justify-content: center;
}

.educationswin {
  text-align: center;
  position: relative;
  bottom: 40px;
}

.educationeast {
  text-align: center;
  position: relative;
  bottom: 5px;
}

.number {
  white-space: nowrap;
}

@media only screen and (min-width: 375px) and (max-width: 539px) {

  .container {
    overflow: hidden;
  }

  .background-image {
    display: flex;
    float: right;
    height: 750px;
    width: 700px;
  }

  .wallpaper {
    width: 320px;
  }

  nav {
    text-align: center;
  }

  a {
    display: flex;
    margin: -10px auto;
  }

  li {
    position: relative;
    justify-content: center;
  }

  nav ul li {
    margin: 30px 40px;
  }

  .row {
    width: 90%;
    row-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .aboutme {
    width: 80%;
    text-align: justify;
  }

  .subtext {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .contactdetail {
    margin: 100px auto;
  }
}

@media only screen and (min-width: 416px) and (max-width: 540px) {
  nav ul li {
    margin: 30px 10px;
  }

  .wallpaper {
    width: 440px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {

  .background-image {
    display: flex;
    float: right;
    height: 582px;
    width: 724px;
  }

  ul {
    display: flex;
  }

  nav ul li {
    margin: 30px 15px;
  }

  .row {
    width: 95%;
    row-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .topbtn {
    margin: 0 auto;
    margin-top: 25px;
  }

  .aboutme {
    width: 80%;
    text-align: justify;
  }

  .subtext {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 821px) {

  .background-image {
    display: flex;
    float: right;
    height: 750px;
    width: 881px;
  }

  ul {
    display: flex;
  }

  nav ul li {
    margin: 30px 33px;
  }

  .botbtn {
    margin: 20px auto;
  }

  .row {
    width: 90%;
    row-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .aboutme {
    width: 80%;
    text-align: justify;
  }

  .subtext {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 822px) and (max-width: 1220px) {

  .background-image {
    display: flex;
    float: right;
    height: 735px;
    width: 500px;
  }

  ul {
    display: flex;
  }

  nav ul li {
    margin: 30px 30px;
  }

  .row {
    width: 90%;
    row-gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .aboutme {
    width: 80%;
    text-align: justify;
  }

  .subtext {
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
  }
}


@media only screen and (min-width: 1221px) {
  ul {
    display: flex;
  }

  nav ul li {
    margin: 30px 30px;
  }
}
