* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
  box-sizing: border-box;
}

body {
  background: black;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
}

.background-image {
  display: flex;
  float: right;
  height: 1050px;
  width: 700px;
}

.container {
  padding: 10px 10%;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 23px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 30px 50px;
}

.header-text {
  text-align: center;
  font-size: 25px;
  margin-top: 30vh;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  font-size: 19px;
  width: 26.5ch;
  animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.card {
  display: flex;
  color: black;
  margin: 0 20px;
}

.card-text {
  text-align: justify;
}

.row {
  width: 60%;
  margin: 0 auto;
}

.topimage {
  height: 165px;
}

.botimage {
  height: 165px;
}

.botbtn {
  margin: 25px auto;
}

.aboutme {
  font-size: 17px;
  width: 50%;
  margin: 10px auto;
  line-height: 40px;
  text-align: justify;
}

.text {
  width: 50%;
  color: red;
  font-size: 20px;
  margin: 20px auto;
  line-height: 30px;
  text-align: justify;
  text-align: center;
  text-decoration: underline;
}

.subtext {
  font-size: 19px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  a {
    text-align: center;
  }

  .background-image {
    margin: 0 auto;
  }
}
